# **üè∑Ô∏è 1Ô∏è‚É£ Welcome & What is Python?**

# üëã Welcome to Python Programming!

In this course, you will learn Python from scratch, step-by-step, using Google Colab notebooks.

## What is Python?

- Python is a popular, high-level programming language.
- It is used for web development, data science, artificial intelligence, and more.
- Python is easy to read and beginner-friendly.

## Why learn Python?

‚úÖ Easy syntax  
‚úÖ Lots of free libraries  
‚úÖ Huge community support  
‚úÖ Excellent for Data Science and AI

# **üè∑Ô∏è 2Ô∏è‚É£ How to Use Google Colab**

# üìí Google Colab

- Colab is an online tool where you can write and run Python code in your browser.
- No installation needed!
- You can combine **text (Markdown)** and **code** in one notebook.

## Example of a text cell:
This is a text cell!

In [ ]:
# Example of a code cell:

In [ ]:
# This is a code cell
print("Hello, Python World!")

Hello, Python World!

# **üè∑Ô∏è 3Ô∏è‚É£ Python Syntax Basics**

# üêç Python Syntax Rules

- Python uses **indentation** instead of braces `{}`.
- Each statement goes on a new line.
- Comments start with `#`.

## Example:

In [ ]:
if 10>20:
  print('if')
else:
  print('else')

else

In [ ]:
# This is a comment
name = "Alice"  # This is a variable
print("Hello", name)

Hello Alice

# **üè∑Ô∏è 4Ô∏è‚É£ Your First Python Program**

# ‚úÖ Let's write our first program!

Type this in a code cell and run it:

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
print('''Hello, World!''')

Hello, World!

In [ ]:
# comment

In [ ]:
'''
comment
'''

'\ncomment\n'

# **üè∑Ô∏è 5Ô∏è‚É£ Variables and Data Types (Quick Intro)**

# üìå Variables store information.

Examples:

In [ ]:
pi = 3.14159265359

In [ ]:
f1 = 4*8+pi

In [ ]:
f2 = 3/8+9 + pi

In [ ]:
type(23)

int

In [ ]:
type(3.14159265359)

float

In [ ]:
type(True)

bool

In [ ]:
# int a = 5

In [ ]:
a = 1

In [ ]:
type(a)

int

In [ ]:
print('a')

a

In [ ]:
print(a)

1

In [ ]:
print('The value of a is',a,'is the value')

The value of a is 1 is the value

In [ ]:
age = 25

In [ ]:
type(25)

int

In [ ]:
type(age)

int

In [ ]:
age

25

In [ ]:
type(5.8)

float

In [ ]:
# Numbers
age = 25 # Variable = Value
height = 5.8

# Strings (text)
name = "Bob"

# Boolean (True or False)
is_student = True

print(name, age, is_student)

Bob 25 True

# **üè∑Ô∏è 6Ô∏è‚É£ Basic Arithmetic**

# ‚ûó Python can do calculations.

Try:

In [ ]:
a = 5
b = 3

In [ ]:
5*5*5

125

In [ ]:
print("Add:",a,b,a**b)

Add: 5 3 125

In [ ]:
a = 5
b = 2

print("Add:", a + b)
print("Subtract:", a - b)
print("Multiply:", a * b)
print("Divide:", a / b)
print("Power:", a ** b)

Add: 7
Subtract: 3
Multiply: 10
Divide: 2.5
Power: 25

# **üè∑Ô∏è 7Ô∏è‚É£ Comments**

# üí° Comments help explain code.

- Use `#` for single-line comments.

In [ ]:
# This is a comment
x = 10  # Variable storing number 10
print(x)  # Print value of x

10

In [ ]:
'''This is a comment'''

'This is a comment'

# **üè∑Ô∏è 8Ô∏è‚É£ Practice Tasks**

# üéØ Practice

‚úÖ 1. Print your name and age.  
‚úÖ 2. Calculate 10 + 5 * 2  
‚úÖ 3. Write a comment about your calculation.

üëâ Try in a new code cell below:

In [ ]:
print("Angela, 35yrs")

Angela, 35yrs

In [ ]:
print(10+5*2)

20

In [ ]:
'''
I have calculated 10+5*2, first we have to multiply 5*2, which is equal to 10, then we have to add 10+10, then we get our answer 20
'''

# **üè∑Ô∏è 9Ô∏è‚É£ Quick Quiz**

# ‚úÖ Quick Quiz

1Ô∏è‚É£ What symbol is used for comments in Python?  
2Ô∏è‚É£ How do you print text in Python?  
3Ô∏è‚É£ What is the output of `3 ** 2`?



1.   We use an **#** for a single line comment  or **'''    '''** if it is long.
2.   Type print, open double inverted comma and type the text inside the double inverted comma...

In [ ]:
print(3**2)

9

In [ ]:
'''
3**2, this means it is 3 to the power of 2, it can also be written as 3*3 or 3^2
'''

# **üè∑Ô∏è 1Ô∏è‚É£0Ô∏è‚É£ Next Steps**

# üöÄ Great Job!

You have learned:
- What Python is
- How to run Python in Colab
- How to write your first program
- How to use variables and print output

üëâ Next, we will dive deeper into **Data Types, Variables, and Operators**!